.day-cell {
    flex: 1;
    /* Ensures the cell takes up equal space */
    display: flex;
    flex-direction: column;
    justify-content: start;
    /* Aligns content to the top */
    align-items: center;
    /* Centers content horizontally */
    padding: 10px;
    border-right: 1px solid #ddd;
    /* Adds subtle borders */
    border-bottom: 1px solid #ddd;
    min-height: 70px;
    max-width: 150px;
    /* Adjust based on your preference */
    background-color: #fff;
    font-size: 2rem;
    /* Consider using a variable or a class for different types of days */
}

.weekView {
    min-height: 400px;
}

.day-cell:last-child {
    border-right: none;
    /* Removes right border for the last cell in a row */
}

.day-number {
    font-weight: bold;
    margin-bottom: 8px;
    /* Space between the day number and any events */
}

.not-current-month {
    color: #bdbdbd;
    /* Grey color for days not in the current month */
}

.event {
    padding: 2px 4px;
    margin-top: 4px;
    border-radius: 4px;
    max-width: 130px;
    /* Gives a slightly rounded corner to the event rectangles */
    font-size: 0.85rem;
    height: auto;
    /* Keeps the content within the rounded corners */
    white-space: nowrap;
    /* Prevents the text from wrapping */
    overflow: hidden;
    text-overflow: ellipsis;
    /* Adds an ellipsis if the text overflows */
    font-size: 1rem;
}

.event-indicator {
    height: 15px;
    width: 15px;
    background-color: #b12424;
    border-radius: 50%;
    display: inline-block;
    margin: 2px;
}


.day-cell.selected {
    border: 2px solid #34495E;
}
