body, html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f4;
}

.app {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2C3E50;
  color: #ECF0F1;
  width: 250px;
  padding: 20px;
  margin-right: 20px;
  box-sizing: border-box;
  font-size: 1.5rem;
}

.sidebar-logo img {
  max-width: 100%; /* Ensures the image does not exceed the container's width */
  height: auto; /* Keeps the image's aspect ratio */
}

.sidebar.minimized {
  width: 100px; /* Reduced width when minimized */
  padding: 20px 10px; /* Adjust padding to keep content centered */
}

.sidebar-header {
  display: block; /* Ensures the image is block-level for margin centering */
  max-width: 1%; /* Ensures the image does not exceed its container's width */
  height: auto; /* Keeps the image's aspect ratio */
  margin: 0 auto;
}

.sidebar-header h2 {
  margin: 0;
  padding: 0;
  color: #ECF0F1;
}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav ul li {
  margin-bottom: 10px;
}

.nav ul li {
  color: #ECF0F1;
  text-decoration: none;
  padding: 10px;
  display: block;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.nav ul li.selected {
  background-color: #2980b9; /* Change color to indicate focus */
}
.nav ul li.focused {
  background-color: #34a7f4; /* Change color to indicate focus */
}

.nav ul li:hover,
.nav ul li:active {
  background-color: #34495E;
}

.content {
  flex-grow: 1;
  padding: 20px;
  margin-left: 1200px;
  background: #fff;
}

.add-event-btn {
  padding: 10px;
  margin-top: 20px; /* Adds some space between the button and the navigation links */
  background-color: #16a085; /* A distinct color to stand out */
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  align-self: center;
}

.add-event-btn:hover {
  background-color: #13856f; /* Darker shade on hover */
}
.focused {
  background-color: #1feec5; /* Darker shade on hover */
}
